@font-face {
  font-family: 'Onions';
  src: url('/fonts/onions.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none !important;
  border: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
