@font-face {
  font-family: 'Onions';
  src: url('/fonts/onions.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sulphur Point Font Classes */
.sulphur-point-light {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sulphur-point-regular {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sulphur-point-bold {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Apply Sulphur Point as default font */
html, body {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
}

button, input, select, textarea {
  font-family: inherit;
}

* {
  outline: none !important;
  border: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
